.imageCard {
  overflow: hidden; /* Щоб уникнути виходу зображення за межі картки */
  border-radius: 8px; /* Закруглення кутів */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь для картки */
}

.imageCard img {
  width: 100%; /* Ширина 100%, щоб зображення займало всю картку */
  height: 200px; /* Висота зображення, щоб всі були однакового розміру */
  object-fit: cover; /* Збереження пропорцій зображення */
}
